.cart{

    margin-top: 100px;
    margin-left: 400px;
}
.uparrow{
    float: right;
    margin-top: 350px;
    z-index: 1;
}
.large-screen{
    visibility:visible;
    display: block;
}



@media screen and (max-width: 600px) {
    .large-screen{
        visibility:hidden;
        display: none;
        }
   
}