<app-header></app-header>
<app-topnav></app-topnav>
<div class="container-fluid">
    <div class="large-screen">
      <div class="cart">
          <img src="./assets/empty-cart.jpg">
      </div>

      <div class="uparrow">
        <button class="btn btn-link" routnkActive="active" routerLink="/cart">
            <i class="fa fa-arrow-circle-up" aria-hidden="true" style=" font-size:50px;"></i>
        </button>
    </div>
     
<div class="categories">
<app-homecategories></app-homecategories>
<app-footer></app-footer>
</div>
</div>
</div>
