.carousel-inner{
    padding-left: 350px;
    margin-top: 20px;
    margin-bottom: 100px;
   
}
.large-screen{
    visibility:visible;
    display: block;
}



@media screen and (max-width: 600px) {
    .large-screen{
        visibility:hidden;
        display: none;
        }
   
}
