<app-header></app-header>
<app-topnav></app-topnav>
<div class="container-fluid">
    <div class="large-screen">
    <div class="cardt">
        Animated Video for DigiMall
    </div>
     <br><br><br><br>
   <!--- <div class="card">-->
        <div class="row">
        <div class="card1">
            <img src="./assets/gallery1.jpg" alt="image">
        </div>
        <div class="card2">
            <img src="./assets/gallery2.jpg" alt="image">
        </div>
        <div class="card3">
            <img src="./assets/gallery3.jpg" alt="image">
        </div>
        <div class="card4">
            <img src="./assets/gallery5.jpg" alt="image">
        </div>
        <div class="card5">
            <img src="./assets/gallery6.jpg" alt="image">
        </div>
   <!--</div>--> 
    </div>

    <div class="uparrow">
        <button class="btn btn-link" routnkActive="active" routerLink="/gallery">
            <i class="fa fa-arrow-circle-up" aria-hidden="true" style=" font-size:50px;"></i>
        </button>
    </div>

    

<div class="categories">
 <app-homecategories></app-homecategories>
<app-footer></app-footer>
</div>
</div>
</div>