<app-header></app-header>
<app-topnav></app-topnav>
<div class="container-fluid">
    <div class="large-screen">
    <div class="card">
        <div class="card1">
          <h2 style="font-weight: bold;color:brown;">Call Us on</h2>
          <p>020-4545145</p>
        </div>
        <div class="card2">
            <h2 style="font-weight: bold;color:brown;">Email On</h2>
            <p>support@digimall.in</p>
        </div>
    </div>

    <div class="card4">
        <h2 style="color:brown;">Address</h2>
        <p>DigiMall,<br>IT Park, 101-B, Gamma-1, <br>Giga Space, Off, Pune <br>- Ahmednagar Hwy, Viman Nagar,<br>
             Pune, Maharashtra 411014</p>
    </div>

    <div class="card5">
        <h2 style="color:brown;">Find us on google</h2>
        <p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15128.512116550535!2d73.92856598468403!3d18.568265846469693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c139e255269d%3A0xfe37853643e97865!2sProMobi%20Technologies!5e0!3m2!1sen!2sin!4v1603294539233!5m2!1sen!2sin" width="400" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </p>

    </div>
    <div class="uparrow">
        <button class="btn btn-link" routnkActive="active" routerLink="/contactus">
            <i class="fa fa-arrow-circle-up" aria-hidden="true" style=" font-size:50px;"></i>
        </button>
    </div>

<div class="categories">
    <app-homecategories></app-homecategories>
<app-footer></app-footer>
</div>
</div>
</div>