<div class="container-fluid">
    <div class="large-screen">
    <div class="row">
        <div class="col-md-4">
            <div class="logo1">D</div>
            <div class="logo2">igi</div>
            <div class="logo3">M</div>
            <div class="logo4">all</div>
        </div>

        <div class="col-md-4">
            <div class="search">
                <form class="form-online d-flex justify-content-left md-form form-sm mt-0">
                <i class="fa fa-search" area-hidden="true" style="font-size:40px;color: white;"></i>
                <input class="form-control  ml-5 " type="text" placeholder="Search">
                </form>
            </div>
        </div>
        <div class="col-md-4" style="float: right;">
               <button type="button" class="btn btn-link"  routerLinkActive="active" routerLink="/cart"><i class="fa fa-shopping-cart ml-5"style="float:right;
               margin-top:65px;font-size:25px;color: white; margin-right:-320px" ></i><span style="float:right;margin-top:75px;
                margin-right:-330px;font-size:15px;color: white;" >0</span></button>
                <button type="button" 
                 class="btn btn-link" routerLinkActive="active" routerLink="/login" style="float:right;margin-top:58px;margin-right:90px;
        font-size:25px;color:white;"><i class="fa fa-user-circle"></i></button>
                <button class="btn btn-link" routerLinkActive="active" routerLink="/login"  style="float:right;font-size:20px;margin-top:60px;font-weight: bold;margin-right: -110px;
                color: white;">Login</button>
           </div>
           
    </div>


                
</div>          
</div>
