
<app-header></app-header>
<app-topnav></app-topnav>
<div class="container-fluid">
    <div class="large-screen">
    <div class="about">
        <div class="row">
            <div class="card1">
                <img class="img1" src="./assets/store1.jpg" alt="image">
            </div>

            <div class="card2">
                <div class="cardtext1">
                <div class="title1">DigiMall is India's one of the largest retailer for<br> 
                    electronics & digital appiences.</div> <br>
               <p>We sell best and top brands of appliences.We commite our promise of<br> 
                personalising technologies every day with our customers.</p>
            </div>
            </div>
        </div>

        <div class="row">
           <div class="card1">
                <div class="cardtext1">
                <div class="title2">We provides best & top brands. 
                   </div> <br>
               <p>We provide best brand's appliences to the customers <br>
                 as per their personal needs, budgets and choices</p>
            </div>
            </div>

            <div class="card3">
                <img class="img2" src="./assets/store2.png" alt="image">
            </div>
        </div><br><br>

        <div class="row">
            <div class="card1">
                <img class="img1" src="./assets/store3.jpg" alt="image">
            </div>

            <div class="card2">
                <div class="cardtext1">
                <div class="title1">Best shopping exprience with DigiMall.<br> 
                   </div> <br>
                    <p>You will have best shopping exprience with the DigiMall.<br>Costumers can shop online at www.digimall.in.<br>
                        customers can also choose express delivery <br>to receive their product within 48 hours.<br>
                        Customers can also choose from a variety of flexible payment options<br>
                        including debit and credit cards,<br> cash-on-delivery, UPI, online wallets and EMI options </p>
            </div>
            </div>
        </div>


</div>
<div class="uparrow">
    <button class="btn btn-link"><a class="nav-link" routerLinkActive="active" routerLink="/aboutus">
        <i class="fa fa-arrow-circle-up" aria-hidden="true" style=" font-size:50px;"></i></a>
    </button>
</div>
<div class="categories">
    <app-homecategories></app-homecategories>
<app-footer></app-footer>
</div>



</div>

</div>
