<div class="container-fluid">
    <div class="large-screen">
    <div>
        <div class="brandtext">
           Shop By Top Brands
        </div>
        <div class="apple">
            <img src="./assets/apple.png" alt="image">
        </div>

        <div class="samsung">
            <img src="./assets/samsung.png" alt="image">
        </div>
        <div class="sony">
            <img src="./assets/sony.jpg" alt="image">
        </div>
        <div class="hp">
            <img src="./assets/hp.png" alt="image">
        </div>
        <div class="lg">
            <img src="./assets/lg.png" alt="image">
        </div>
        <div class="wirlpool">
            <img src="./assets/wirlpool.png" alt="image">
        </div>
        <div class="lenovo">
            <img src="./assets/lenovo.png" alt="image">
        </div>
    </div>
</div>
</div>