

        
    <app-header></app-header>
    <app-topnav></app-topnav>
    <app-carousel></app-carousel>
    <app-festiveoffers></app-festiveoffers>
    <app-brand></app-brand>
    <br>

    <div class="uparrow">
        <button class="btn btn-link" routnkActive="active" routerLink="/aboutus">
            <i class="fa fa-arrow-circle-up" aria-hidden="true" style=" font-size:50px;"></i>
        </button>
    </div>
    
    <app-homecategories></app-homecategories>
    <app-footer></app-footer>
 



    
