<div class="container-fluid">
    <div class="large-screen">
    <div class="row justify-content-center">
    
       <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/aboutus">About Us</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/products">Our Products</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/gallery">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/contactus">Contact Us</a></li>
    </ul>
   
    </div>
    </div>
</div>
