<div class="container-fluid">
    <div class="large-screen">
    <div class="card">
       <div class="row">
        <div class="card1">
            <div class="title">
                PRODUCT CATEGORIES
            </div><br><br>
            <div class="list">
             Smartphones<br>
             Laptops<br>
             Cameras<br>
             Televisions<br>
             Air Conditioners<br>
             Refrigerators<br>
             Kitchen Appliences<br>
             Personal Care & Grooming

            </div>
        </div>


        <div class="card2">
            <div class="title">POLICIES</div>
            <br><br>
            <div class="list">
            Cancellations & Returns<br>
            Privacy Policy<br>
            EMI Terms & Conditions<br>
            Pricing & Payment Policies<br>
            </div>
        </div>

        
        
</div>
</div>
</div>
</div>